{
  "openapi": "3.1.0",
  "info": {
    "title": "Danadresse API — DAWA drop-in replacement",
    "summary": "Drop-in REST replacement for dawa.aws.dk · Free tier 1000/month",
    "description": "**Drop-in replacement for the Danish Address Web API (DAWA).** DAWA closes on 17 August 2026 — Danadresse takes over with the exact same endpoints, query parameters, JSON shapes and UUIDs.\n\n### Migration in 30 seconds\n1. Replace your base URL `https://dawa.aws.dk` → `https://api.danadresse.dk`.\n2. Add an `X-Api-Key: dawa_live_…` header to every request (get one free at <https://danadresse.dk/dashboard/signup>).\n3. Ship. Your DAR/DAGI IDs still resolve.\n\nFree tier: 1 000 calls/month per IP (no key needed). Paid tiers: Hobby/Basic/Pro/Enterprise — see <https://danadresse.dk/#pricing>.\n\n### Auth\nPublic DAWA endpoints (`/adresser`, `/autocomplete`, …) accept the key as either `X-Api-Key` header or `?api_key=` query — either is fine. Dashboard endpoints under `/api/v1/auth`, `/api/v1/keys`, `/api/v1/billing` require a JWT Bearer token from `POST /api/v1/auth/login`.\n\nBuilt by [LynBro ApS](https://lynbro.dk).",
    "contact": {
      "name": "Danadresse Support",
      "url": "https://danadresse.dk/dashboard",
      "email": "support@danadresse.dk"
    },
    "license": {
      "name": "Data: CC BY 4.0 (Klimadatastyrelsen) · API: proprietary",
      "url": "https://danadresse.dk/terms"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://danadresse.dk/static/img/logo_mark.png"
    }
  },
  "servers": [
    {
      "url": "https://api.danadresse.dk",
      "description": "Production"
    }
  ],
  "paths": {
    "/autocomplete": {
      "get": {
        "tags": [
          "dawa:autocomplete"
        ],
        "summary": "Typo-tolerant address autocomplete (DAWA-compatible)",
        "description": "Returns up to 20 ranked address suggestions for an incremental query. Matches DAWA's response shape exactly so existing clients only need the base-URL swap.\n\n**Phases:**\n- street only → `type=vejnavn` suggestions (Bumyren typo → Bymuren)\n- street + husnr → `type=adresse` units in that building\n  (multi-apartment: all units; single villa: 1 row)\n- street + husnr + etage/dør → 1 exact `type=adresse` hit\n\nPunctuation tolerated: `Bymuren 68, 3. th` and `Bymuren 68 3 th` yield identical results.",
        "operationId": "autocomplete_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Search query — street, street+husnr, or full address",
              "examples": [
                "Rådhuspladsen 1",
                "Bymuren 68, 3. th",
                "Vesterbrogade 4 1620",
                "kobenhavn",
                "raadhuspladsen"
              ],
              "default": "",
              "title": "Q"
            },
            "description": "Search query — street, street+husnr, or full address"
          },
          {
            "name": "struktur",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "mini",
                "full"
              ],
              "type": "string",
              "default": "mini",
              "title": "Struktur"
            }
          },
          {
            "name": "srid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 4326,
              "title": "Srid"
            }
          },
          {
            "name": "fuzzy",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Typo tolerance. Falls back to ASCII↔Danish folding (oe↔ø, aa↔å, ae↔æ). Accepts the widget's empty-string form.",
              "title": "Fuzzy"
            },
            "description": "Typo tolerance. Falls back to ASCII↔Danish folding (oe↔ø, aa↔å, ae↔æ). Accepts the widget's empty-string form."
          },
          {
            "name": "adgangsadresserOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Skip the `type=adresse` (etage/dør) tier",
              "default": false,
              "title": "Adgangsadresseronly"
            },
            "description": "Skip the `type=adresse` (etage/dør) tier"
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max number of suggestions (DAWA default 20)",
              "default": 20,
              "title": "Per Side"
            },
            "description": "Max number of suggestions (DAWA default 20)"
          },
          {
            "name": "params",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JSON-encoded filter, e.g. {\"kommunekode\":\"0101\"}",
              "examples": [
                "{\"kommunekode\":\"0101\"}"
              ],
              "title": "Params"
            },
            "description": "JSON-encoded filter, e.g. {\"kommunekode\":\"0101\"}"
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "JSONP callback function name",
              "title": "Callback"
            },
            "description": "JSONP callback function name"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Target tier: 'adresse' (default, drills to units), 'adgangsadresse' (terminal), or 'vejnavn'.",
              "title": "Type"
            },
            "description": "Target tier: 'adresse' (default, drills to units), 'adgangsadresse' (terminal), or 'vejnavn'."
          },
          {
            "name": "caretpos",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget cursor pos (accepted; drill is driven by query text).",
              "title": "Caretpos"
            },
            "description": "Widget cursor pos (accepted; drill is driven by query text)."
          },
          {
            "name": "adgangsadresseid",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget hint (accepted).",
              "title": "Adgangsadresseid"
            },
            "description": "Widget hint (accepted)."
          },
          {
            "name": "startfra",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget hint (accepted).",
              "title": "Startfra"
            },
            "description": "Widget hint (accepted)."
          },
          {
            "name": "supplerendebynavn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget flag (accepted).",
              "title": "Supplerendebynavn"
            },
            "description": "Widget flag (accepted)."
          },
          {
            "name": "stormodtagerpostnumre",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget flag.",
              "title": "Stormodtagerpostnumre"
            },
            "description": "Widget flag."
          },
          {
            "name": "multilinje",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Widget flag (accepted).",
              "title": "Multilinje"
            },
            "description": "Widget flag (accepted)."
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Autocomplete Get"
                },
                "examples": {
                  "street_with_typo": {
                    "summary": "Typo correction",
                    "value": [
                      {
                        "type": "vejnavn",
                        "tekst": "Bymuren",
                        "forslagstekst": "Bymuren ",
                        "caretpos": 8,
                        "data": {
                          "navn": "Bymuren",
                          "href": "/vejnavne/Bymuren"
                        }
                      }
                    ]
                  },
                  "full_apartment": {
                    "summary": "Specific apartment in a multi-unit building",
                    "value": [
                      {
                        "type": "adresse",
                        "tekst": "Bymuren 68, 3. th, 2650 Hvidovre",
                        "forslagstekst": "Bymuren 68, 3. th, 2650 Hvidovre",
                        "caretpos": 33,
                        "data": {
                          "id": "0a3f50a5-4bab-32b8-e044-0003ba298018",
                          "status": 1,
                          "vejnavn": "Bymuren",
                          "husnr": "68",
                          "etage": "3",
                          "dør": "th",
                          "postnr": "2650",
                          "postnrnavn": "Hvidovre",
                          "kommunekode": "0167",
                          "kommunenavn": "Hvidovre",
                          "x": 12.449,
                          "y": 55.6307
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/postnumre": {
      "get": {
        "tags": [
          "dawa:postnumre"
        ],
        "summary": "List Postnumre",
        "operationId": "list_postnumre_postnumre_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "nr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Nr"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Postnumre Postnumre Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/postnumre/autocomplete": {
      "get": {
        "tags": [
          "dawa:postnumre"
        ],
        "summary": "Autocomplete Postnumre",
        "operationId": "autocomplete_postnumre_postnumre_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 20,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Postnumre Postnumre Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/postnumre/{nr}": {
      "get": {
        "tags": [
          "dawa:postnumre"
        ],
        "summary": "Get Postnummer",
        "operationId": "get_postnummer_postnumre__nr__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "nr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Nr"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Postnummer Postnumre  Nr  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/kommuner": {
      "get": {
        "tags": [
          "dawa:kommuner"
        ],
        "summary": "List Kommuner",
        "operationId": "list_kommuner_kommuner_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "kode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kode"
            }
          },
          {
            "name": "regionskode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Regionskode"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Kommuner Kommuner Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/kommuner/autocomplete": {
      "get": {
        "tags": [
          "dawa:kommuner"
        ],
        "summary": "Autocomplete Kommuner",
        "operationId": "autocomplete_kommuner_kommuner_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 20,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Kommuner Kommuner Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/kommuner/{kode}": {
      "get": {
        "tags": [
          "dawa:kommuner"
        ],
        "summary": "Get Kommune",
        "operationId": "get_kommune_kommuner__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Kommune Kommuner  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejnavne": {
      "get": {
        "tags": [
          "dawa:vejnavne"
        ],
        "summary": "List Vejnavne",
        "operationId": "list_vejnavne_vejnavne_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Vejnavne Vejnavne Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejnavne/autocomplete": {
      "get": {
        "tags": [
          "dawa:vejnavne"
        ],
        "summary": "Autocomplete Vejnavne",
        "operationId": "autocomplete_vejnavne_vejnavne_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 20,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Vejnavne Vejnavne Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejnavne/{id}": {
      "get": {
        "tags": [
          "dawa:vejnavne"
        ],
        "summary": "Get Vejnavn",
        "operationId": "get_vejnavn_vejnavne__id__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Vejnavn Vejnavne  Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/navngivneveje": {
      "get": {
        "tags": [
          "dawa:navngivneveje"
        ],
        "summary": "List Navngivneveje",
        "operationId": "list_navngivneveje_navngivneveje_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Navngivneveje Navngivneveje Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/navngivneveje/{id}": {
      "get": {
        "tags": [
          "dawa:navngivneveje"
        ],
        "summary": "Get Navngivenvej",
        "operationId": "get_navngivenvej_navngivneveje__id__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Navngivenvej Navngivneveje  Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejstykker": {
      "get": {
        "tags": [
          "dawa:vejstykker"
        ],
        "summary": "List Vejstykker",
        "operationId": "list_vejstykker_vejstykker_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "kommunekode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kommunekode"
            }
          },
          {
            "name": "kode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "vejkode",
              "title": "Kode"
            },
            "description": "vejkode"
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Vejstykker Vejstykker Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejstykker/autocomplete": {
      "get": {
        "tags": [
          "dawa:vejstykker"
        ],
        "summary": "Autocomplete Vejstykker",
        "operationId": "autocomplete_vejstykker_vejstykker_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "kommunekode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kommunekode"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 20,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Vejstykker Vejstykker Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vejstykker/{kommunekode}/{kode}": {
      "get": {
        "tags": [
          "dawa:vejstykker"
        ],
        "summary": "Get Vejstykke",
        "operationId": "get_vejstykke_vejstykker__kommunekode___kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kommunekode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kommunekode"
            }
          },
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Vejstykke Vejstykker  Kommunekode   Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/retskredse": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Retskredse",
        "operationId": "list_retskredse_retskredse_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "retskredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Retskredse Retskredse Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/retskredse/{kode}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Retskredse",
        "operationId": "get_retskredse_retskredse__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "retskredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Retskredse Retskredse  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/politikredse": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Politikredse",
        "operationId": "list_politikredse_politikredse_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "politikredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Politikredse Politikredse Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/politikredse/{kode}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Politikredse",
        "operationId": "get_politikredse_politikredse__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "politikredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Politikredse Politikredse  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/opstillingskredse": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Opstillingskredse",
        "operationId": "list_opstillingskredse_opstillingskredse_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "opstillingskredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Opstillingskredse Opstillingskredse Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/opstillingskredse/{kode}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Opstillingskredse",
        "operationId": "get_opstillingskredse_opstillingskredse__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          },
          {
            "name": "_model",
            "in": "query",
            "required": false,
            "schema": {
              "title": " Model"
            }
          },
          {
            "name": "_path",
            "in": "query",
            "required": false,
            "schema": {
              "default": "opstillingskredse",
              "title": " Path"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Opstillingskredse Opstillingskredse  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/landsdele": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Landsdele",
        "operationId": "list_landsdele_landsdele_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "landsdele",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nuts3",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nuts3",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/landsdele/{key}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Landsdele",
        "operationId": "get_landsdele_landsdele__key__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "landsdele",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nuts3",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nuts3",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/storkredse": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Storkredse",
        "operationId": "list_storkredse_storkredse_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "storkredse",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nummer",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nummer",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/storkredse/{key}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Storkredse",
        "operationId": "get_storkredse_storkredse__key__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "storkredse",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nummer",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "nummer",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/valglandsdele": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Valglandsdele",
        "operationId": "list_valglandsdele_valglandsdele_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "valglandsdele",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "bogstav",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "bogstav",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/valglandsdele/{key}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Valglandsdele",
        "operationId": "get_valglandsdele_valglandsdele__key__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          },
          {
            "name": "_m",
            "in": "query",
            "required": false,
            "schema": {
              "title": " M"
            }
          },
          {
            "name": "_p",
            "in": "query",
            "required": false,
            "schema": {
              "default": "valglandsdele",
              "title": " P"
            }
          },
          {
            "name": "_k",
            "in": "query",
            "required": false,
            "schema": {
              "default": "bogstav",
              "title": " K"
            }
          },
          {
            "name": "_ok",
            "in": "query",
            "required": false,
            "schema": {
              "default": "bogstav",
              "title": " Ok"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/afstemningsomraader": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Afstemningsomraader",
        "operationId": "list_afstemningsomraader_afstemningsomraader_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "kommunekode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kommunekode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Afstemningsomraader Afstemningsomraader Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/afstemningsomraader/{kommunekode}/{nummer}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Afstemningsomraade",
        "operationId": "get_afstemningsomraade_afstemningsomraader__kommunekode___nummer__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kommunekode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kommunekode"
            }
          },
          {
            "name": "nummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Nummer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Afstemningsomraade Afstemningsomraader  Kommunekode   Nummer  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/supplerendebynavne2": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Supplerendebynavne2",
        "operationId": "list_supplerendebynavne2_supplerendebynavne2_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Supplerendebynavne2 Supplerendebynavne2 Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/supplerendebynavne": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Supplerendebynavne",
        "description": "Deprecated v1 path — same data, native (was proxied).",
        "operationId": "list_supplerendebynavne_supplerendebynavne_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Supplerendebynavne Supplerendebynavne Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/regioner": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Regioner",
        "operationId": "list_regioner_regioner_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Regioner Regioner Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/regioner/{kode}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Region",
        "operationId": "get_region_regioner__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Region Regioner  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sogne": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "List Sogne",
        "operationId": "list_sogne_sogne_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Sogne Sogne Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sogne/{kode}": {
      "get": {
        "tags": [
          "dawa:dagi"
        ],
        "summary": "Get Sogn",
        "operationId": "get_sogn_sogne__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Sogn Sogne  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ejerlav/autocomplete": {
      "get": {
        "tags": [
          "dawa:matrikel"
        ],
        "summary": "Autocomplete Ejerlav",
        "operationId": "autocomplete_ejerlav_ejerlav_autocomplete_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 20,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response Autocomplete Ejerlav Ejerlav Autocomplete Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ejerlav": {
      "get": {
        "tags": [
          "dawa:matrikel"
        ],
        "summary": "List Ejerlav",
        "operationId": "list_ejerlav_ejerlav_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "navn",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Navn"
            }
          },
          {
            "name": "kode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kode"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Ejerlav Ejerlav Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ejerlav/{kode}": {
      "get": {
        "tags": [
          "dawa:matrikel"
        ],
        "summary": "Get Ejerlav",
        "operationId": "get_ejerlav_ejerlav__kode__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Kode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Ejerlav Ejerlav  Kode  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jordstykker": {
      "get": {
        "tags": [
          "dawa:matrikel"
        ],
        "summary": "List Jordstykker",
        "operationId": "list_jordstykker_jordstykker_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "ejerlavkode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Ejerlavkode"
            }
          },
          {
            "name": "matrikelnr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Matrikelnr"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Jordstykker Jordstykker Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/jordstykker/{ejerlavkode}/{matrikelnr}": {
      "get": {
        "tags": [
          "dawa:matrikel"
        ],
        "summary": "Get Jordstykke",
        "operationId": "get_jordstykke_jordstykker__ejerlavkode___matrikelnr__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "ejerlavkode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Ejerlavkode"
            }
          },
          {
            "name": "matrikelnr",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Matrikelnr"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Jordstykke Jordstykker  Ejerlavkode   Matrikelnr  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/steder": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "List Steder",
        "operationId": "list_steder_steder_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "hovedtype",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Hovedtype"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Steder Steder Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/steder/{id}": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "Get Sted",
        "operationId": "get_sted_steder__id__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Sted Steder  Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/stednavne": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "List Stednavne",
        "operationId": "list_stednavne_stednavne_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Side"
            }
          },
          {
            "name": "per_side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Per Side"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Stednavne Stednavne Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/menighedsraadsafstemningsomraader": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "List Menighedsraad",
        "operationId": "list_menighedsraad_menighedsraadsafstemningsomraader_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kommunekode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kommunekode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "title": "Response List Menighedsraad Menighedsraadsafstemningsomraader Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/menighedsraadsafstemningsomraader/{kommunekode}/{nummer}": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "Get Menighedsraad",
        "operationId": "get_menighedsraad_menighedsraadsafstemningsomraader__kommunekode___nummer__get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "APIKeyQuery": []
          }
        ],
        "parameters": [
          {
            "name": "kommunekode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Kommunekode"
            }
          },
          {
            "name": "nummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Nummer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Menighedsraad Menighedsraadsafstemningsomraader  Kommunekode   Nummer  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/matrikelnumre": {
      "get": {
        "tags": [
          "dawa:stednavne"
        ],
        "summary": "List Matrikelnumre",
        "description": "Derived from the native jordstykke table (distinct ejerlavkode+matrikelnr).",
        "operationId": "list_matrikelnumre_matrikelnumre_get",
[...]
